body {
  background-color: white;
}
.header1 {
  color: #E16B10;
}
.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F5F5F5;
  text-align: center;
}
.welcome-page h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.welcome-page p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.welcome-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}
.welcome-page li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.welcome-page button {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #773706;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.welcome-page button:hover {
  background-color: #E16B10;
}
.nav-link {
  display: inline-block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}
.nav-link.active {
  background-color: #B85103;
  color: white;
}
.navbar {
  background-color: #773706;
  padding: 10px;
}
.watch-container {
  display: flex;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  flex-direction: row;
  padding: 2%;
  row-gap: 5%;
  padding-left: 10%;
  /* background-color: #773706; */
}
.watch-image {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-right: 1px solid #ddd;
  padding: 10px;
}
.watch-image img {
  max-width: 100%;
  max-height: 100%;
}
.watch-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.watch-description h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.watch-description p {
  font-size: 16px;
  margin-bottom: 10px;
}
.watch-description button {
  display: block;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
}
#shoppingSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}
#shoppingSection header h2 {
  font-size: 36px;
  margin-bottom: 10px;
}
#shoppingSection header h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
#Manufacturers {
  margin-bottom: 20px;
  box-sizing: 20px;
}
.ManufacturerDiv, button {
font-size: 30px;
font-weight: 10px;
background-color: #773706;
padding: 5px;
margin: 6px;
margin-top: 5px;
box-shadow: #ddd 5px 5px 4px;
}
#addWatchForm-div {
  background-color: #773706;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
#addWatchForm-div h3 {
  margin-bottom: 20px;
}
#addWatchForm-div label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}
#addWatchForm-div input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#addWatchForm-div button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}